.todos-footer {
  position: relative;
  padding: 10px 15px;
  height: 50px;
  border-top: 1px solid $gray-border;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0,0,0,.2), 0 8px 0 -3px $dart-white, 0 9px 1px -3px rgba(0,0,0,.2), 0 16px 0 -6px $dart-white, 0 17px 2px -6px rgba(0,0,0,.2);
  }
  .todos-footer-toolbar {
    display: flex;
    flex-grow: 5;
    align-items: center;
    .toolbar-item {
      flex: 1 0;
      text-align: center;
      position: relative;
      z-index: 1;
      &.counter {
        color: $gray-footer;
        flex: 2 0!important;
        text-align: left;
        @media (max-width: 768px) {
          text-align: center;
          font-size: 8px;
          flex: 1 !important;
          .counter-number {
            font-size: 1rem;
          }
        }
      }
      &.cleaner {
        flex: 2 0!important;
        text-align: right;
        @media (max-width: 768px) {
          flex: 1 !important;
        }
      }
      .btn-toolbar {
        border: 1px solid transparent;
        border-radius: 3px;
        padding: 3px 8px;
        outline: 0;
        color: inherit;
        background-color: $white;
        &.active {
          border-color: $green;
          @media (max-width: 768px) {
            color: $green;
          }
        }
        .footer-icon {
          font-size: 1rem;
        }
        @media (max-width: 768px) {
          font-size: 8px;
          border: none;
          color: $gray-footer;
        }
      }
      .btn-cleaner {
        border: 0;
        background-color: transparent;
        border-color: transparent;
        color: $gray-letter;
      }
    }
    @media (max-width: 768px) {
      justify-content: space-between;
    }
  }
  @media (max-width: 768px) {
    background: $white;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    padding: .5rem .9375rem;
    height: auto;
  }
}
