.todos-main {
  border: 1px solid $gray-border;
  border-bottom: 0;
  overflow: auto;
}

.main-message {
  font-size: .875rem;
  color: $grey-shadow;
  text-align: center;
  .no-item {
    padding: 30px 0;
    font-size: 17px;
    color: $light-gray;
  }
}
.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.todo-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  border-bottom: 1px solid $gray-border;
  font-size: 15px;
  .btn-delete {
    color: $light-gray;
    outline: 0;
    display: none;
    cursor: pointer;
    @media (max-width: 768px) {
      display: block;
    }
  }
  .item-check {
    border: none;
    position: absolute;
    left: 13px;
    top: 50%;
    margin: 0;
    outline: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    &:checked {
      &::after {
        color: $green;
        font-family: 'icomoon';
        content: '\ea52';
        font-size: 20px;
      }
    }
    &::after {
      font-size: 2rem;
      font-family: 'icomoon';
      content: "\ea53";
      color: $light-gray;
      font-size: 20px;
    }
  }
  .item-name {
    white-space: pre-line;
    margin-left: 45px;
    word-break: break-all;
    padding: 15px 60px 15px 15px;
    display: block;
    line-height: 1.2;
    transition: color .4s;
    flex: 2;
    text-align: left;
    &.finished {
      text-decoration: line-through;
      color: $light-gray;
    }
  }
  &:hover {
    .btn-delete {
      display: block;
    }
  }
}
