.title-wraper {
  position: relative;
  .user-img {
    width: 20px;
    position: absolute;
    right: 10px;
    top: 25px;
    cursor: pointer;
    &:hover + .side-bar {
      width: 30%;
      visibility: visible;
    }
  }
  .side-bar {
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 999;
    height: -webkit-fill-available;
    background-color: grey;
    // transition: all ease-in-out 0.3s;
    text-align: center;
    &:hover{
      width: 30%;
      visibility: visible;
    }
    .user-image-wraper {
      display: flex;
      align-items: center;
      margin: 20px auto;
      border-bottom: 1px solid $gray-border;
    }
  }
}
.title {
  color: $white;
  text-shadow: -1px -1px 1px $light-shadow, 1px 1px 1px $grey-shadow;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 50px;
  letter-spacing: .1em;
}
.todos {
  width: 550px;
  margin: 0 auto;
  background: $white;
  position: relative;
  @media (max-width: 768px) {
    width: 100%;
  }
}
