.title {
  color: $white;
  text-shadow: -1px -1px 1px $light-shadow, 1px 1px 1px $grey-shadow;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 50px;
  letter-spacing: .1em;
}
.todos {
  width: 550px;
  margin: 0 auto;
  background: $white;
  position: relative;
  border-left: 1px solid $gray-border;
  border-right: 1px solid $gray-border;
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
}
