// == Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);

// === Colors ===
$white: #fff;
$dart-white: #f6f6f6;
$gray-border: #f3f3f3;
$gray-letter: #6d6d6d;
$gray-footer: #b7b7b7;
$light-gray: #d9d9d9;
$gray-disabled: #8d7777;
$green: #7bb062;
$light-shadow:#ededed;
$grey-shadow:#909090;
